<nav class="navigation">
  <span><a href="#">Poncio</a></span>
</nav>
<div class="about">
  <div class="bg"></div>
  <div class="left">
    <div class="presentation">
      <span class="subtitle">Hi, i'm</span>
      <img src="https://github.com/ricardoponcio.png" />
      <span class="title">Ricardo</span>
      <span class="subtitle">Backend Developer and</span>
      <span class="subtitle">a Frontend Entusiast</span>
    </div>
  </div>
  <div class="right">
    <div class="snippet">
      <p>my details</p>
      <pre [innerHTML]="json_pretty"></pre>
    </div>
  </div>
</div>
<div class="article">
  <div class="article-title">
    Last Experiences
  </div>
  <div class="content">
    <div class="card">
      <div>
        <div class="image-container">
          <img src="/assets/ligga-logo.png" width="100px" />
        </div>
        <p>Ligga Telecom</p>
        <p><b><i>2022-10-03</i></b> / <b><i>Actual</i></b></p>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="image-container">
          <img src="/assets/velsis-logo.png" width="100px" />
        </div>
        <p>Velsis Mobilidade Viária</p>
        <p><b><i>2020-07-08</i></b> / <b><i>2022-09-30</i></b></p>
        <p>In this company, i worked with <i>Java</i> and <i>Spring</i> applications, building console apps, web apps and REST apis, did integrations with SOAP, Rest and FTP, worked with <i>PostgreSQL</i> databases from version 9 to 13. Also worked with some frontend applications with <i>Angular</i> 2+ (with <i>Typescrypt</i>) and <i>primeng</i> + <i>primeflex</i> to almost every solutions.</p>
        <p>This Company builds technology for mobility, many equipments are placed arround the cities to do the monitoring, in the consequence of that we worked a lot with IoT solutions, cloud synchronization and queus to upload the data.</p>
      </div>
    </div>
    <div class="card">
      <div>
        <div class="image-container">
          <img src="/assets/lume-logo.png" width="100px" />
        </div>
        <p>Lume Tecnologia</p>
        <p><b><i>2018-03-02</i></b> / <b><i>2020-07-03</i></b></p>
        <p>Here i worked with <i>Java</i> + <i>Primefaces (JSF)</i> to build some web apps. One of these apps was integrated to some SOAP webservices from government, to build an invoice. Also worked with a project with the same technology to start a simple ERP to assist ontological clinics. Moreover worked with a migration from DB2 database to PostgreSQL database, the data was not bigger than a million rows per table, but was a wonderful chance to know more from these SGDBs</p>
        <p>This company produces custom apps B2B and some apps that are served on the WEB with a subscription.</p>
      </div>
    </div>
  </div>
</div>
<div class="article">
  <div class="article-title">
    My Main Stack
  </div>
  <div class="content">
    <div class="card main-stack-1">
      <div>
        <div class="image-container">
          <img src="/assets/spring.png" width="50px" />
        </div>
        <p>Spring</p>
        <p>Backend <i>Java 8/11</i> + <i>Spring</i> experience since 2020. For java versions i used to work with <i>lambda</i> functions, <i>guice</i> injection, <i>JPA</i> frameworks and <i>jobs</i>. In spring framework, i already worked with datasource routing, simple crud controllers and annotations like <i>Async</i>, <i>Autowire</i> + <i>Qualifier</i> and <i>Scheduler</i></p>
      </div>
    </div>
    <div class="card main-stack-1">
      <div>
        <div class="image-container">
          <img src="/assets/angular.png" width="50px" />
        </div>
        <p>Angular</p>
        <p>Learn and work with <i>Angular</i> 2+ with <i>Typescript</i>, using <i>@ViewChild</i> and input/outputs, <i>Canvas</i> view, <i>image</i> control tools and <i>Authentication</i> solutions like <i>AuthGuard</i> and <i>HttpInterceptor</i> to send bearer tokens.</p>
      </div>
    </div>
    <div class="card main-stack-1">
      <div>
        <div class="image-container">
          <img src="/assets/postgresql.png" width="50px" />
        </div>
        <p>PostgreSQL</p>
        <p>Use os SQL SGDB for generic applications, table creation, columns refactor, trigger and functions modeling and index analysis to improve database performance to query tables with 500mi+ rows.</p>
      </div>
    </div>
  </div>
</div>
